/* imports */
/* header */
@import url("/vendor/normalize.css");
@import url("src/blocks/header/header.css");
@import url("src/blocks/header/__logo/header__logo.css");
@import url("src/blocks/header/__title/header__title.css");
/* main */
/* chess */
@import url("src/blocks/main/chess/chess.css");
@import url("src/blocks/main/chess/__container/chess__container.css");
@import url("src/blocks/main/chess/__container/_p/chess__container_p.css");
@import url("src/blocks/main/chess/__buttons/chess__buttons.css");
@import url("src/blocks/main/chess/__img-block/chess__img-block.css");
@import url("src/blocks/main/chess/running-text/running-text.css");
/* afisha */
@import url("src/blocks/main/afisha/afisha.css");
@import url("src/blocks/main/afisha/__info/afisha__info.css");
@import url("src/blocks/main/afisha/__info/_p/afisha__info_p.css");
/* schedule */
@import url("src/blocks/main/schedule/schedule.css");
@import url("src/blocks/main/schedule/__chess/schedule__chess.css");
@import url("src/blocks/main/schedule/__common-container/schedule__common-container.css");
@import url("src/blocks/main/schedule/__info/schedule__info.css");
@import url("src/blocks/main/schedule/__info/_place/schedule__info_place.css");
@import url("src/blocks/main/schedule/__info/_name/schedule__info_name.css");
@import url("src/blocks/main/schedule/__link/schedule__link.css");
/* vasyuki */
@import url("src/blocks/main/vasyuki/vasyuki.css");
@import url("src/blocks/main/vasyuki/__title/vasyuki__title.css");
@import url("src/blocks/main/vasyuki/__link/vasyuki__link.css");
@import url("src/blocks/main/vasyuki/__img-block/vasyuki__img-block.css");
@import url("src/blocks/main/vasyuki/__text/vasyuki__text.css");
@import url("src/blocks/main/vasyuki/__slider/vasyuki__slider.css");
@import url("src/blocks/main/vasyuki/__slide/vasyuki__slide.css");
@import url("src/blocks/main/vasyuki/__slide/_p/vasyuki__slide_p.css");
@import url("src/blocks/main/vasyuki/__nav-dots/vasyuki__nav-dots.css");
@import url("src/blocks/main/vasyuki/__nav-arrows/vasyuki__nav-arrows.css");
/* participants */
@import url("src/blocks/main/participants/participants.css");
@import url("src/blocks/main/participants/__container/participants__container.css");
@import url("src/blocks/main/participants/__slide/participants__slide.css");
@import url("src/blocks/main/participants/__slide/_name/participants__slide_name.css");
@import url("src/blocks/main/participants/__slide/_rank/patricipants__slide_rank.css");
@import url("src/blocks/main/participants/__slide/_more-btn/participants__slide_more-btn.css");
@import url("src/blocks/main/participants/__slides/participants__slides.css");
/* footer */
@import url("src/blocks/footer/footer.css");
@import url("src/blocks/footer/__p/footer__p.css");
/* font-face */
@font-face {
  font-family: "Golos Text";
  src: url("src/fonts/Golos-Text/Golos-Text_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("src/fonts/Golos-Text/Golos-Text_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("src/fonts/Golos-Text/Golos-Text_DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Golos Text";
  src: url("src/fonts/Golos-Text/Golos-Text_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("src/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("src/fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* colors */
:root {
  --header-main: #595653;
  --most-text: #313131;
  --beige: #E9DED4;
  --black: #1F1F1F;
  --white: #FFFFFF;
  --schedule-line: #D0D0D0;
  --link: #3057A2;
  --red: #F54932;
  --hover-yellow: #FBCE51;
}

/* styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--most-text);
  /* overflow-x: hidden; */
}

body {
  font-family: "Golos Text", sans-serif;
  /* overflow-x: hidden; */
}

.container {
  margin: auto;
  padding: 18px 20px 0;
  width: 100%;
  max-width: 1222px;
}