.vasyuki__link  {
    position: relative;
    margin-top: 12px;
    text-decoration: none;
}

.vasyuki__link p {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: var(--link);
}


@media (min-width: 1024px) {
    .vasyuki__link {
        position: absolute;
        left: 290px;
        bottom: 9px;
        margin-top: 0;
    }
    
    .vasyuki__link p {
        font-size: 20px;
    }
}