.chess__buttons {
    margin-top: 32px;
    margin-bottom: 291px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.chess__buttons button {
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 66px;
    line-height: 130%;
    font-weight: 500;
}

.chess__buttons_black {
   background-color: var(--black);
   color: var(--white);
   transition: background-color 0.8s ease-out, transform 0.4s ease-out;
}

.chess__buttons_black:hover {
    background-color: var(--hover-yellow);
    color: var(--black);
}

.chess__buttons_white {
    background-color: var(--white);
    color: var(--black);
    transition: background-color 0.8s ease-in-out, transform 0.4s ease-out;
}

.chess__buttons_white:hover {
    background-color: var(--black);
    color: var(--white);
}

@media screen and (min-width: 1024px) {
    .chess__buttons {
        margin-top: 40px;
        margin-bottom: 132px;
        flex-direction: row;
        gap: 16px;
    }

    .chess__buttons button {
        padding: 20px 49px;
        font-size: 16px;
    }

    .chess__buttons .chess__buttons_white {
        background-color: transparent;
        border: 2px solid var(--black)
    }

    .chess__buttons .chess__buttons_white:hover {
        background-color: var(--black); 
    }
}