.vasyuki__title {
    display: flex;
    flex-direction: column;
}

.vasyuki h2 {
    padding-bottom: 12px;
    font-family: 'Marieweather', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;
}

@media (min-width: 1024px) {
    .vasyuki__title {
        position: relative;
    }
    .vasyuki h2 {
        margin: 0;
        padding: 0;
        line-height: 120%;
        font-size: 54px;
    }
}