.afisha__info_p{
    font-family: 'Merriweather', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 135%;
    text-transform: uppercase;
}

.afisha__info span {
    font-weight: 600;
    color: var(--red);
}

.chess-players-img {
    padding: 24px 0;
    width: 100%;
    max-width: 394px;
    border-radius: 50%;
}

@media screen and (max-width:1023px) {
    .afisha__info_p{
      display: flex;
      flex-direction: column;
    }
  }

@media screen and (min-width: 1024px) {
    .afisha__info_p{
      padding: 24px 0;
      width: calc(100% - 394px);
      font-size: 36px;
      line-height: 135%;
    }
    
    .afisha__info img.chess-players-img{
      position: absolute;
      padding: 0;
      top: 0;
      right: 0;
      width: 394px;
      height: 250px;
    }
}