.schedule__chess {
    margin-bottom: 28px;
}

.schedule__chess{
    font-family: 'Merriweather', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 135%;
    text-transform: uppercase;
}

.schedule__chess span {
    font-weight: 600;
    color: var(--red);
}


@media screen and (min-width: 1024px) {
    .schedule__chess {
        font-size: 36px;
        line-height: 135%;
    }
}